<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Close Positions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"> Cancel </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <div>
        <h3 class="text-base font-semibold leading-6" id="modal-title">
          Close open positions
        </h3>
        <div class="mt-2">
          <p class="text-content2 text-sm">
            Are you sure you want to deactivate your account? All of your data
            will be permanently removed. This action cannot be undone.
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-6 pb-5 pt-6">
      <!-- Instrument -->
      <div>
        <label for="project-name" class="block text-sm font-medium leading-6">
          Instrument
        </label>
        <select
          id="instrument"
          name="instrument"
          (change)="selectInstrument($event.target)"
          class="select mt-2"
        >
          <option [value]="undefined" [disabled]="instrument">
            Select an instrument
          </option>
          @for (pair of instruments(); track pair) {
          <option
            [value]="pair.name"
            [selected]="pair.name === instrument?.name"
          >
            {{ pair.displayName }}
          </option>
          }
        </select>
      </div>

      <!-- Notes -->
      <div>
        <div class="flex justify-between">
          <label for="notes" class="block text-sm font-medium leading-6">
            Notes
          </label>
          <span class="text-content2 text-sm leading-6" id="email-optional">
            Optional
          </span>
        </div>
        <div class="mt-2">
          <textarea
            [(ngModel)]="notes"
            id="notes"
            name="notes"
            [rows]="4"
            class="textarea"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      (click)="sendSignal()"
      [disabled]="!instrument"
      expand="block"
      color="danger"
      class="ion-margin"
    >
      Close
    </ion-button>
  </ion-toolbar>
</ion-footer>
