<div
  class="border-border border-t pt-8 lg:flex lg:items-center lg:justify-between"
>
  <div>
    <h3 class="text-sm font-semibold leading-6">Subscribe to our newsletter</h3>
    <p class="text-content2 mt-2 text-sm leading-6">
      The latest news, articles, and resources, sent to your inbox.
    </p>
  </div>
  <form class="mt-6 sm:flex sm:max-w-md lg:mt-0">
    <label for="email-address" class="sr-only">Email address</label>
    <input
      type="email"
      name="email-address"
      id="email-address"
      autocomplete="email"
      required
      class="input min-w-min"
      placeholder="Enter your email"
    />
    <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
  </form>
</div>
