<li class="relative md:flex md:flex-1">
  <!-- Current Step -->
  <a
    class="flex items-center px-6 py-4 text-sm font-medium"
    aria-current="step"
  >
    <span
      class="border-primary flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2"
    >
      <span class="text-primary">{{ index() }}</span>
    </span>
    <span class="text-primary ml-4 text-sm font-medium">
      {{ step() }}
    </span>
  </a>
  <!-- Arrow separator for lg screens and up -->
  @if (displaySeperator()) {
    <app-step-seperator />
  }
</li>
