<li class="relative py-5 hover:bg-gray-50 dark:hover:bg-white/5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto flex max-w-7xl justify-between gap-x-6">
      <div class="flex gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6">
            <a [routerLink]="['/transactions', transaction().id]">
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
              {{ transaction().type | noCase | titlecase }}
            </a>
          </p>
          <p
            class="text-content2 mt-1 line-clamp-1 text-ellipsis text-xs leading-5"
          >
            <span>
              {{ transaction().reason | noCase | titlecase }}
            </span>
            @if (transaction().reason && transaction().rejectionReason) {
              <span> &bull; </span>
            }
            {{ transaction().rejectionReason | noCase | titlecase }}
            @if (!transaction().reason && !transaction().rejectionReason) {
              <span> - </span>
            }
          </p>
        </div>
      </div>
      <div class="flex items-center gap-x-4">
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6">
            <span class="text-content2">#</span>
            {{ transaction().id }}
          </p>
          <div class="mt-1 flex items-center gap-x-1.5">
            <p class="text-content2 text-xs leading-5">
              {{ transaction().time | date }}
            </p>
          </div>
        </div>
        <svg
          class="text-content2 h-5 w-5 flex-none"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>
</li>
