<li
  class="relative cursor-pointer py-5 hover:bg-gray-100 dark:hover:bg-white/5"
>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mx-auto flex max-w-7xl justify-between gap-x-6 px-0 lg:px-8">
      <div class="flex w-full flex-col gap-x-4">
        <div class="min-w-full flex-auto">
          <!-- <ion-skeleton-text class="animate-pulse h-6 w-1/4 rounded-md" />
          <ion-skeleton-text
            class="mt-2 animate-pulse h-6 w-3/5 rounded-md md:w-2/5"
          /> -->
        </div>
      </div>
      <div class="flex items-center gap-x-4">
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6">
            <!-- <ion-skeleton-text class="animate-pulse h-6 w-12 rounded-md" /> -->
          </p>
          <p class="text-content2 mt-1 text-xs leading-5">
            <!-- <ion-skeleton-text class="animate-pulse h-6 w-28 rounded-md" /> -->
          </p>
        </div>
        <svg
          class="text-content2 h-5 w-5 flex-none"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>
</li>
