rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // config

    match /config/config {
      allow read, update: if isAdmin()
    }

    // subscriptions

    match /{path=**}/subscriptions/{id} {
      allow read: if isAdmin();
    }

    // users

    match /users/{uid} {

      // user

      allow create, get, update: if request.auth.uid == uid;
      allow read: if isAdmin();

      // stripe

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }

      // match /subscriptions/{id} {
      //   allow read: if isAdmin();
      // }

      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }

      // signals

      match /signals/{signal} {
        allow create: if request.auth.uid == uid;
      }
    }

    // scripts

    match /scripts/{script} {
      allow get: if isAdmin();
    }

    // signals

    match /signals/{signal} {
      allow create, read, update: if isAdmin();
    }

    // settings

    match /settings/{uid} {
      allow read, update: if request.auth.uid == uid;
    }

    // products

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }


    // tokens

    match /devices/{token} {
      allow create, delete: if isSignedIn();
    }

    // functions

    function isSignedIn() {
      return request.auth.uid != null
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }
  }

}