<!-- Header -->
<app-header />

<main class="isolate">
  <!-- Hero section -->
  <app-statement />

  <!-- Mission section -->
  <app-mission />

  <!-- Image section -->
  <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
    <img
      src="https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80"
      alt=""
      class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
      width="100vw"
    />
  </div>

  <!-- Values section -->
  <app-values />
</main>

<!-- Footer -->
<app-footer />
