<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Our values</h2>
    <p class="text-content2 mt-6 text-lg leading-8">
      Built by traders, for traders. We stand behind our amazing traders and are
      proud to play a role in their successes. We reflect this sentiment in many
      of our core company values.
    </p>
  </div>
  <dl
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    <div>
      <dt class="font-semibold">Ownership</dt>
      <dd class="text-content2 mt-1">
        Remain in full control of your portfolio. We provide you with the tools
        to manage and view activities taking place.
      </dd>
    </div>
    <div>
      <dt class="font-semibold">Stable</dt>
      <dd class="text-content2 mt-1">
        Grow your portfolio with compounding interest resulting in exponential
        growth in the long term.
      </dd>
    </div>
    <div>
      <dt class="font-semibold">Consistent</dt>
      <dd class="text-content2 mt-1">
        Round the clock service ensuring no downtime. Grow portfolios with
        compound interest on a regular basis, better and faster than banks.
      </dd>
    </div>
    <div>
      <dt class="font-semibold">Adaptable</dt>
      <dd class="text-content2 mt-1">
        Give traders a leading edge with AI and machine learning that instills a
        willingness to always learn and be flexible within the market.
      </dd>
    </div>
    <div>
      <dt class="font-semibold">Emotionless</dt>
      <dd class="text-content2 mt-1">
        Eliminate emotion and avoid costly decisions based on impulse. Use
        complex algorithms to make trades and adapt to the ever changing forex
        market.
      </dd>
    </div>
    <div>
      <dt class="font-semibold">Beginner friendly</dt>
      <dd class="text-content2 mt-1">
        Provide an intuitive and easy-to-use interface that is welcoming to
        traders of all levels removing the entry barrier into the industry.
      </dd>
    </div>
  </dl>
</div>
