<h2 class="sr-only" id="profile-overview-title">Profile Overview</h2>
<div class="p-6">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="sm:flex sm:space-x-5">
      <div class="mx-auto h-20 w-20 overflow-hidden rounded-full object-cover">
        <app-avatar />
      </div>
      <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
        <p class="text-content2 text-sm font-medium">Welcome back,</p>
        <p class="text-xl font-bold sm:text-2xl">
          {{ auth.profile()?.displayName || "-" }}
        </p>
        <p class="text-content2 text-sm font-medium">Administrator</p>
      </div>
    </div>
    <div class="mt-5 flex justify-center sm:mt-0">
      <a
        [routerLink]="['/users', auth.profile()?.uid]"
        class="btn flex items-center justify-center rounded-md px-3 py-2 text-sm font-semibold"
      >
        View profile
      </a>
    </div>
  </div>
</div>
<div
  class="bg-backgroundSecondary grid grid-cols-1 divide-y divide-gray-200 border-t border-gray-200 sm:grid-cols-3 sm:divide-x sm:divide-y-0 dark:divide-white/10 dark:border-white/10"
>
  <div class="gap-x-3 px-6 py-5 text-center text-sm font-medium">
    <span class="">
      {{ signalCount() | number }}
    </span>
    <span class="text-content2">&nbsp;Signals</span>
  </div>
  <div class="px-6 py-5 text-center text-sm font-medium">
    <span class="">{{ orderCount() | number }}</span>
    <span class="text-content2">&nbsp;Orders</span>
  </div>
  <div class="px-6 py-5 text-center text-sm font-medium">
    <span class="">0</span>
    <span class="text-content2">&nbsp;Instances</span>
  </div>
</div>
