<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" />
    </ion-buttons>
    <ion-title>Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form()" (ngSubmit)="updateConfig()">
    <ion-list lines="none" class="divide-y divide-gray-100 dark:divide-white/5">
      <ion-item class="py-6">
        <ion-toggle
          formControlName="killSwitch"
          [checked]="config()?.killSwitch"
          (ionChange)="impact()"
        >
          <ion-text color="dark" class="font-medium leading-6">
            Kill Switch
          </ion-text>
          <ion-text
            color="medium"
            class="mt-1 block truncate leading-6 sm:col-span-2 sm:mt-0"
          >
            Enable or disable all bots.
          </ion-text>
        </ion-toggle>
      </ion-item>
    </ion-list>

    <div class="mx-4 mt-6 border-b border-gray-200 pb-5 dark:border-white/5">
      <h3 class="text-base font-semibold leading-6">Interest</h3>
    </div>
    <ion-list
      formGroupName="interest"
      lines="none"
      class="divide-y divide-gray-100 dark:divide-white/5"
    >
      <!-- Cap -->
      <ion-item class="py-6">
        <ion-toggle
          formControlName="cap"
          [checked]="config()?.interest?.cap"
          (ionChange)="impact()"
        >
          <ion-text color="dark" class="font-medium leading-6"> Cap </ion-text>
          <ion-text
            color="medium"
            class="mt-1 block truncate leading-6 sm:col-span-2 sm:mt-0"
          >
            Enable or disable the interest rate limit.
          </ion-text>
        </ion-toggle>
      </ion-item>

      <!-- Rate -->
      <ion-item>
        <ion-label class="ion-no-margin py-6">
          <label for="rate" class="block text-sm font-medium leading-6">
            Rate
          </label>
          <div class="mt-2">
            <input
              formControlName="rate"
              [readOnly]="true"
              [value]="config()?.interest?.rate! * 100"
              type="number"
              inputmode="decimal"
              [min]="1"
              [max]="99"
              [minLength]="1"
              [maxLength]="2"
              name="rate"
              id="rate"
              class="input"
            />
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" class="ion-margin">
      Update config
    </ion-button>
  </form>
</ion-content>
