<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <ion-text color="primary">
      <p class="text-base font-semibold">
        {{ status || 404 }}
      </p>
    </ion-text>
    <h1
      class="mt-4 text-3xl font-bold tracking-tight first-letter:uppercase sm:text-5xl"
    >
      {{ (error()?.errorCode | noCase) || "Page not found" }}
    </h1>
    <p class="text-content2 mt-6 text-base leading-7">
      {{
        error()?.errorMessage ||
          "Sorry, we couldn't find the page you're looking for."
      }}
    </p>
  </div>
</main>
