<div class="mx-auto max-w-7xl space-y-16 py-16">
  @if (!auth.hasApiKey() && !auth.hasAccountId()) {
    <div class="border-b border-gray-200 pb-5 dark:border-white/10">
      <h3 class="text-base font-semibold leading-6">Setup Guide</h3>
      <p class="text-content2 mt-2 max-w-4xl text-sm">
        Generate your personal token to access OANDA via Pipbase. Choose one of
        the following options to get started.
      </p>
    </div>
  }

  @if (!auth.hasApiKey()) {
    <div class="grid gap-4 md:grid-cols-3">
      <a
        href="https://hub.oanda.com"
        target="_blank"
        class="border-border bg-backgroundSecondary focus:ring-primary hover:bg-gray-4 relative block w-full rounded-lg border p-12 text-center focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        <svg
          class="text-content2 mx-auto h-12 w-12"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 48 48"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 14v20c0 4.418 7.163 8 16 8 1.381 0 2.721-.087 4-.252M8 14c0 4.418 7.163 8 16 8s16-3.582 16-8M8 14c0-4.418 7.163-8 16-8s16 3.582 16 8m0 0v14m0-4c0 4.418-7.163 8-16 8S8 28.418 8 24m32 10v6m0 0v6m0-6h6m-6 0h-6"
          />
        </svg>
        <span class="mt-2 block text-sm font-semibold"> Hub </span>
        <span class="text-content2 mt-1 line-clamp-2 block text-sm">
          Tools > API to generate a new API key.
        </span>
      </a>
      <a
        href="https://www.oanda.com/demo-account/tpa/personal_token"
        target="_blank"
        class="border-border bg-backgroundSecondary focus:ring-primary hover:bg-gray-4 relative block w-full rounded-lg border p-12 text-center focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        <svg
          class="text-content2 mx-auto h-12 w-12"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 48 48"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 14v20c0 4.418 7.163 8 16 8 1.381 0 2.721-.087 4-.252M8 14c0 4.418 7.163 8 16 8s16-3.582 16-8M8 14c0-4.418 7.163-8 16-8s16 3.582 16 8m0 0v14m0-4c0 4.418-7.163 8-16 8S8 28.418 8 24m32 10v6m0 0v6m0-6h6m-6 0h-6"
          />
        </svg>
        <span class="mt-2 block text-sm font-semibold"> Demo </span>
        <span class="text-content2 mt-1 line-clamp-2 block text-sm">
          Trade using demo money.
        </span>
      </a>
      <!-- Live -->
      <a
        href="https://www.oanda.com/account/tpa/personal_token"
        target="_blank"
        class="border-border bg-backgroundSecondary focus:ring-primary hover:bg-gray-4 relative block w-full rounded-lg border p-12 text-center focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        <svg
          class="text-content2 mx-auto h-12 w-12"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 48 48"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 14v20c0 4.418 7.163 8 16 8 1.381 0 2.721-.087 4-.252M8 14c0 4.418 7.163 8 16 8s16-3.582 16-8M8 14c0-4.418 7.163-8 16-8s16 3.582 16 8m0 0v14m0-4c0 4.418-7.163 8-16 8S8 28.418 8 24m32 10v6m0 0v6m0-6h6m-6 0h-6"
          />
        </svg>
        <span class="mt-2 block text-sm font-semibold"> Live </span>
        <span class="text-content2 mt-1 line-clamp-2 block text-sm">
          Trade using real money.
        </span>
      </a>
    </div>
  }

  <form [formGroup]="form()" (ngSubmit)="updateAPIKey()">
    <div class="space-y-12">
      <div
        class="border-border grid grid-cols-1 gap-x-8 gap-y-10 border-b pb-12 md:grid-cols-3"
      >
        <div>
          <h2 class="text-base font-semibold leading-7">Credentials</h2>
          <p class="text-content2 mt-1 text-sm leading-6">
            Provide your API key to provide Pipbase with access to your OANDA
            account.
          </p>
        </div>

        <div
          class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
        >
          <div class="sm:col-span-4">
            <label for="apiKey" class="block text-sm font-medium leading-6">
              API Key
            </label>
            <div class="mt-2">
              <div class="flex sm:max-w-md">
                <input
                  type="text"
                  name="apiKey"
                  id="apiKey"
                  class="input block min-w-full flex-1 text-sm sm:leading-6"
                  placeholder="OANDA API Key"
                  formControlName="key"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="btn btn-primary px-3 py-2">Save</button>
    </div>
  </form>
</div>
