<div class="alert lg:flex lg:items-center lg:justify-between xl:mt-0">
  <div>
    <h3 class="text-xs font-medium">Disclaimer & Risk Warning</h3>
    <p class="text-content2 mt-2 text-xs">
      CFD and Forex trading based on leverage are highly risky for your capital,
      if you invest in this product you may lose some or all of the money you
      invest. Therefore, CFD and Forex may not be suitable for all investors.
      Make sure you understand the risks involved and, if necessary, seek
      independent advice. The information contained on this website is not
      addressed to recipients of a specific country and is not intended for
      distribution to countries where the distribution or use of this
      information would be incompatible with local laws, requirements and
      regulations.
    </p>
  </div>
</div>
