<div class="mx-auto mt-6 max-w-7xl space-y-8">
  @if (!auth.hasApiKey()) {
    <div class="ion-padding-horizontal">
      <ion-text color="dark">
        <h3 class="font-semibold leading-6">Setup Guide</h3>
      </ion-text>
      <ion-text color="medium">
        <p class="mt-2 max-w-4xl">
          Generate your personal token to access OANDA via Pipbase. Choose one
          of the following options to get started.
        </p>
      </ion-text>
    </div>

    <!-- Hub -->
    <ion-card class="shadow-none" color="light" button>
      <ion-item
        href="https://hub.oanda.com"
        target="_blank"
        color="light"
        lines="none"
      >
        <ion-icon slot="start" name="server-outline" />
        <ion-label class="ion-no-margin py-4">
          <ion-text class="block font-medium">Hub</ion-text>
          <ion-text class="mt-1"
            >Tools > API to generate a new API key.</ion-text
          >
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- Demo -->
    <ion-card class="shadow-none" color="light" button>
      <ion-item
        href="https://www.oanda.com/demo-account/tpa/personal_token"
        target="_blank"
        color="light"
        lines="none"
      >
        <ion-icon slot="start" name="server-outline" />
        <ion-label class="ion-no-margin py-4">
          <ion-text class="block font-medium">Demo</ion-text>
          <ion-text class="mt-1">Trade using demo money.</ion-text>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- Live -->
    <ion-card class="shadow-none" color="light" button>
      <ion-item
        href="https://www.oanda.com/account/tpa/personal_token"
        target="_blank"
        color="light"
        lines="none"
      >
        <ion-icon slot="start" name="server-outline" />
        <ion-label class="ion-no-margin py-4">
          <ion-text class="block font-medium">Live</ion-text>
          <ion-text class="mt-1">Trade using real money.</ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
  }

  <form [formGroup]="form()" (ngSubmit)="updateAPIKey()">
    <div
      class="ion-padding-horizontal grid grid-cols-1 gap-x-8 gap-y-10 md:grid-cols-3"
    >
      <div>
        <ion-text color="dark">
          <h2 class="font-semibold leading-7">Credentials</h2>
        </ion-text>
        <ion-text color="medium">
          <p class="mt-1 leading-6">
            Provide your API key to provide Pipbase with access to your OANDA
            account.
          </p>
        </ion-text>
      </div>

      <div
        class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
      >
        <div class="sm:col-span-4">
          <label for="apiKey" class="block font-medium leading-6">
            API Key
          </label>
          <div class="mt-2">
            <div
              class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600 sm:max-w-md dark:bg-white/5 dark:ring-white/10 dark:focus-within:ring-blue-500"
            >
              <input
                type="text"
                name="apiKey"
                id="apiKey"
                class="input"
                placeholder="OANDA API Key"
                formControlName="key"
              />
            </div>
          </div>
          <ion-button
            [disabled]="form().invalid"
            type="submit"
            expand="block"
            class="ion-margin-top"
          >
            Save
          </ion-button>
        </div>
      </div>
    </div>
  </form>
</div>
