<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings" />
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item routerLink="/metadata" [button]="true">Metadata</ion-item>
    <ion-item routerLink="/security" [button]="true">Security</ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item (click)="signOut()" [button]="true">
      <ion-text color="danger">Sign out</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
