<label class="modal-overlay" for="take-profit"></label>
<div class="modal-content flex flex-col gap-5">
  <label
    for="take-profit"
    class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
  >
    ✕
  </label>
  <h2 class="text-xl">Take Partial Profits</h2>
  <form
    [formGroup]="form()"
    (ngSubmit)="sendSignal()"
    class="flex h-full flex-col"
  >
    <div class="h-0 flex-1 overflow-y-auto">
      <div class="flex flex-1 flex-col justify-between">
        <div class="divide-y divide-gray-200 px-px dark:divide-white/10">
          <div class="space-y-6 pb-5 pt-6">
            <!-- Instrument -->
            <div>
              <label
                for="instrument"
                class="block text-sm font-medium leading-6"
              >
                Instrument
              </label>
              <select
                id="instrument"
                name="instrument"
                [value]=""
                (change)="selectInstrument($event.target)"
                class="select mt-2"
              >
                <option [value]="undefined" [disabled]="instrument()">
                  Select an instrument
                </option>
                @for (pair of instruments(); track pair) {
                <option
                  [value]="pair.name"
                  [selected]="pair.name === instrument()?.name"
                >
                  {{ pair.displayName }}
                </option>
                }
              </select>
            </div>

            <!-- Percentage -->
            <div>
              <label
                for="percentage"
                class="block text-sm font-medium leading-6"
              >
                Percentage
              </label>
              <div class="mt-2">
                <input
                  type="number"
                  inputmode="decimal"
                  formControlName="percentage"
                  [min]="1"
                  [max]="99"
                  [minLength]="1"
                  [maxLength]="2"
                  name="percentage"
                  id="Percentage"
                  class="input"
                />
              </div>
            </div>

            <!-- Notes -->
            <div>
              <div class="flex justify-between">
                <label for="notes" class="block text-sm font-medium leading-6">
                  Notes
                </label>
                <span
                  class="text-content2 text-sm leading-6"
                  id="notes-optional"
                >
                  Optional
                </span>
              </div>
              <div class="mt-2">
                <textarea
                  id="notes"
                  name="notes"
                  formControlName="notes"
                  [rows]="4"
                  class="textarea"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-3">
      <button
        type="submit"
        [disabled]="form().invalid || !instrument()"
        class="btn btn-block btn-primary"
      >
        Send
      </button>
      <label for="take-profit" class="btn btn-block">Cancel</label>
    </div>
  </form>
</div>
