<nav aria-label="Progress" class="ion-padding">
  <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
    <li class="md:flex-1">
      <!-- Completed Step -->
      <a
        class="group flex flex-col border-l-4 border-blue-600 py-2 pl-4 hover:border-blue-800 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
      >
        <ion-text color="primary" class="text-sm font-medium">Step 1</ion-text>
        <span class="text-sm font-medium">Create account</span>
      </a>
    </li>
    <li class="md:flex-1">
      <!-- Current Step -->
      <a
        class="flex flex-col border-l-4 border-blue-600 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
        aria-current="step"
      >
        <ion-text color="primary" class="text-sm font-medium">Step 2</ion-text>
        <span class="text-sm font-medium">Connect to exchange</span>
      </a>
    </li>
    <li class="md:flex-1">
      <!-- Upcoming Step -->
      <a
        class="group flex flex-col border-l-4 border-gray-200 py-2 pl-4 hover:border-gray-300 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
      >
        <ion-text color="medium" class="text-sm font-medium">Step 3</ion-text>
        <span class="text-sm font-medium">Select account</span>
      </a>
    </li>
  </ol>
</nav>
