<section class="relative isolate overflow-hidden">
  <div class="border-border border-b lg:border-t">
    <dl
      class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0"
    >
      <!-- Unrealized / Realized -->
      <div
        class="border-border flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8"
      >
        <dt class="text-content2 text-sm font-medium leading-6">
          {{ isOpen() ? "Unrealized" : "Realized" }}
        </dt>
        @if (percentage()) {
          <dd
            class="text-xs font-medium"
            [ngClass]="percentage() >= 0 ? 'text-success' : 'text-error'"
          >
            @if (percentage() > 0) {
              <span>+</span>
            }
            {{ percentage() | percent: "1.0-2" }}
          </dd>
        }
        <dd
          class="line-clamp-1 flex w-full flex-none items-baseline gap-x-2 text-3xl font-medium leading-10 tracking-tight"
        >
          @if (isOpen()) {
            <span class="line-clamp-1">
              {{
                calculatedTradeState()?.unrealizedPL
                  | compact: app.currencyFormatOptions()
              }}
            </span>
          }
          @if (!isOpen()) {
            <span class="line-clamp-1">
              {{ trade()?.realizedPL | compact: app.currencyFormatOptions() }}
            </span>
          }
          <span class="text-content2 line-clamp-1 truncate text-sm">
            from
            {{
              trade()?.initialMarginRequired
                | compact: app.currencyFormatOptions()
            }}
          </span>
        </dd>
      </div>

      <!-- PIPS / PIP Value -->
      <div
        class="border-border flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8"
      >
        <dt class="text-content2 text-sm font-medium leading-6">PIPS</dt>
        @if (!isOpen() && value() && !isBreakEven()) {
          <dd class="text-content2 text-xs font-medium">
            {{ value() | compact: app.currencyFormatOptions() }}
            / PIP
          </dd>
        }
        <dd
          class="w-full flex-none text-3xl font-medium leading-10 tracking-tight"
        >
          {{ distance() | number }}
        </dd>
      </div>

      <!-- Units / Side -->
      <div
        class="border-border flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t px-4 py-10 sm:px-6 lg:border-l lg:border-t-0 xl:px-8"
      >
        <dt class="text-content2 text-sm font-medium leading-6">Units</dt>
        <dd class="text-content2 text-xs font-medium">
          {{ (trade()?.initialUnits | toNumber) > 0 ? "Long" : "Short" }}
        </dd>
        <dd
          class="w-full flex-none text-3xl font-medium leading-10 tracking-tight"
        >
          {{ trade()?.initialUnits | compact: app.unitsFormatOptions() }}
        </dd>
      </div>
      <!-- Duration -->
      <div
        class="border-border flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8"
      >
        <dt class="text-content2 text-sm font-medium leading-6">Duration</dt>
        <dd
          class="w-full flex-none text-3xl font-medium leading-10 tracking-tight"
        >
          {{ trade()?.openTime | duration: trade()?.closeTime : true }}
        </dd>
      </div>
    </dl>
  </div>
  <div
    class="absolute left-0 top-full -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-20 blur-3xl sm:left-1/2 sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50"
    aria-hidden="true"
  >
    <div
      class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#FF80B5] to-[#9089FC]"
      style="
        clip-path: polygon(
          100% 38.5%,
          82.6% 100%,
          60.2% 37.7%,
          52.4% 32.1%,
          47.5% 41.8%,
          45.2% 65.6%,
          27.5% 23.4%,
          0.1% 35.3%,
          17.9% 0%,
          27.7% 23.4%,
          76.2% 2.5%,
          74.2% 56%,
          100% 38.5%
        );
      "
    ></div>
  </div>
</section>
